.wrapper {
  position: relative;
  padding: 20px 30px;
  overflow: hidden;
  color: #004258;
  border: 1px solid;
}

.inner {
  position: relative;
}

.dark {
  background-color: #004258;
  border: 0;
}

.dark * {
  color: white;
}

.empty {
  border: 0;
  background-color: rgb(233, 233, 233);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath class='st0' d='M0 30h30V0z' fill='%23E1E1E1'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 100%;
}

.utils {
  position: absolute;
  top: 0;
  right: 0;
}
