.button, .button:hover {
  border: 0;
  color: white;
  background: #1f8a70;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
}

.disabled, .disabled:hover {
  cursor: default;
  opacity: 0.5;
}

.large, .large:hover {
  padding: 15px 30px;
  font-size: larger;
}

.full, .full:hover {
  display: block;
  width: 100%;
}

.outlineOnDark, .outlineOnDark:hover {
  background: transparent;
  border: 1px solid;
}

.outlineOnLight, .outlineOnLight:hover {
  background: transparent;
  color: #1f8a70;
  border: 1px solid;
}

.highlight, .highlight:hover {
  background: #fd7400;
}

.outlineOnLight.highlight {
  background: transparent;
  border-color: #fd7400;
  color: #fd7400;
}

.minimal {
  color: inherit;
  background-color: transparent;
  border: 0;
}

.minimal:hover {
  color: inherit;
  background-color: #f5f5f5;
}
