.button {
  border: 0;
  color: white;
  background: #1f8a70;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.large {
  padding: 15px 30px;
  font-size: larger;
}

.full {
  display: block;
  width: 100%;
}

.outlineOnDark {
  background: transparent;
  border: 1px solid;
}

.outlineOnLight {
  background: transparent;
  color: #1f8a70;
  border: 1px solid;
}

.highlight {
  background: #fd7400;
}

.outlineOnLight.highlight {
  background: transparent;
  border-color: #fd7400;
  color: #fd7400;
}
