.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #fd7400;
}

@media(min-width: 1170px) {
  .topbar {
    padding: 15px 40px;
  }
}
