.input {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    color: #004258;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;

    /* Removes awkward default styles on some inputs for iOS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input::-webkit-calendar-picker-indicator {
    color: #737373;
}

.input:focus {
  border: 1px solid #1f8a70;
  outline: 0;
}

.input:disabled {
  cursor: not-allowed;
  color: #D1D1D1;
}

.hasError {
  border-color: red;
}
