body {
  margin: 0;
  font-size: 16px;
  color: #004258;
  font-family: "Roboto", sans-serif;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4, h5, h6 {
  color: #004258;
  margin-top: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

p {
  margin-top: 0;
}
