.path {
  stroke-dasharray: 525;
  stroke-dashoffset: 525;
  animation: dash 1.2s cubic-bezier(0.4, 0, 0.2, 1) alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 525;
  }
  to {
    stroke-dashoffset: 0;
  }
}
