.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.head {
  border-bottom: 1px solid #707070;
}

.head .cell {
  font-weight: bold;
  text-align: left;
}

.striped .body .row:nth-of-type(odd) {
  background-color: #F5F5F5;
}

.cell {
  padding: 15px;
}
